@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .spinner {
    animation: rotate 2s linear infinite;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    width: 50px;
    height: 50px;
  }
  .spinner.path {
    stroke: hsl(210, 70, 75);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }

  .wrapper-class {
    @apply p-1;
  }
  .editor-class {
    @apply bg-neutral p-2;
  }
  .toolbar-class {
    @apply text-accent-content;
  }
}
